<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800 font-sans ">
    <header class="bg-blue-600 text-blue-100 p-4 fixed w-full top-0">
        <div class="container mx-auto flex justify-between items-center min-h-[100px]">
            <nav class="flex items-center">
                <a href="/" class="text-2xl text-blue-100 !no-underline font-bold mx-2 !mb-0.5">Online Library</a>
                <a href="/products" class="text-blue-100 !no-underline !hover:font-bold mx-2">Products</a>
                <a href="/categories" class="text-blue-100 !no-underline !hover:font-bold mx-2">Categories</a>
            </nav>
            <nav class="flex items-center">
                <% if (typeof user !=='undefined' && user) { %>
                    <!-- Cercle avec la première lettre de l'email -->
                    <div class="relative">
                        <div 
                            class="w-10 h-10 bg-blue-100 text-white font-bold flex items-center justify-center rounded-full cursor-pointer" 
                            id="user-avatar"
                        >
                            <%= user.email.charAt(0).toUpperCase() %>
                        </div>
                        <!-- Menu déroulant -->
                        <div id="dropdown-menu" class="absolute right-0 mt-2 space-y-2 bg-white border border-gray-300 rounded-lg shadow-lg hidden">
                            <a href="/account" class="block px-4 py-2 text-blue-400 hover:bg-gray-100">My Account</a>
                            <a href="/auth/logout" class="block px-4 py-2 text-blue-400 hover:bg-gray-100">Logout</a>
                        </div>
                    </div>
                    <span class="ml-2 text-blue-100 !no-underline !hover:font-bold mx-2">Welcome, <%= user.email %>!</span>
                <% } else { %>
                    <a href="/auth/login" class="text-blue-100 !no-underline !hover:font-bold mx-2">Login</a>
                <% } %>
            </nav>          
        </div>
    </header>
    <div class="min-h-screen flex flex-col">
        <main class="flex-1 container my-8 p-4 mx-auto justify-self-center bg-white rounded-lg shadow mt-20">
            <div class="bg-gray-100 text-gray-800 font-sans w-[75%]">
                <div class="bg-blue-100 text-blue-500 p-6 shadow-md rounded-b-lg mb-6">
                    <h1 class="text-3xl font-bold text-center"> <%= second_title %> </h1>
                </div>
                <%- include(body) %>
            </div>
            <script src="/js/script.js"></script>
        </main>
        <footer class="w-full bg-gray-800 text-white p-4 mt-8">
            <div class="container mx-auto text-center">
                <p>© 2024 Online Library. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
